In [1]:
# Importing the needed packages
import pandas as pd

In [3]:
# Importing teacher pay data

df_teacher_pay = pd.read_csv('../Data/teacher-pay-by-state-2024.csv')

df_teacher_pay

,state,TeacherPay_AnnualMeanSalary_USD_2024,TeacherPay_AnnualMeanStartingSalary_USD_2024,TeacherPay_AnnualMeanSalary_USD_2022,TeacherPay_AnnualMedian_USD_2022,TeacherPay_10thPercentileWage_USD_2022,TeacherPay_25thPercentileWage_USD_2022,TeacherPay_75thPercentileWage_USD_2022,TeacherPay_90thPercentileWage_USD_2022
0,Alabama,69544,43679,55050,57930,46710,48430,60640,63200
1,Alaska,76371,51207,74870,77790,49260,61600,81090,99480
2,Arizona,60275,44124,59490,56880,39930,47930,65290,82340
3,Arkansas,54309,37907,53080,49260,39060,47010,60860,64080
4,California,95160,55283,92960,95260,60640,74390,103880,128680
5,Colorado,60775,39044,62730,61320,44710,48820,79110,82710
6,Connecticut,83400,48784,80230,78860,48470,60950,99800,106620
7,Delaware,68787,45188,68810,74160,48410,59770,79090,82540
8,District of Columbia,84882,63373,76540,76800,48180,61210,99860,103160
9,Florida,53098,47178,63470,61930,47600,49820,74670,82530
10,Georgia,64461,41148,67520,61790,45760,51060,77910,88380
11,Hawaii,70947,50123,60790,60560,47000,53350,63580,78170
12,Idaho,56365,41179,57780,59390,41420,46910,65620,77440
13,Illinois,73916,43515,72480,63050,46550,50840,82260,102270
14,Indiana,57015,42735,58690,58200,40020,47330,64390,78770
15,Iowa,61231,39986,60490,60480,39800,48690,73200,79850
16,Kansas,56481,41200,56590,58060,45880,48110,61930,74000
17,Kentucky,56296,39204,58160,59600,40650,48220,63300,79040
18,Louisiana,54248,45593,54300,51130,46440,48300,60390,62930
19,Maine,59964,41163,59260,60880,39640,47650,72090,77100
20,Maryland,79420,51548,73730,75670,49230,59340,83880,102030
21,Massachusetts,92307,51057,82960,79460,49820,62310,100150,111040
22,Michigan,67011,40302,66840,62990,40980,49030,79250,93840
23,Minnesota,70005,43181,64500,62770,46400,49490,77830,80460
24,Mississippi,53354,42336,49770,47690,38420,40170,59010,62020
25,Missouri,53999,36829,56270,49410,37880,44720,61850,78330
26,Montana,55909,34476,54630,49650,28970,38250,64280,80090
27,Nebraska,58763,37797,60250,60800,47560,49850,64460,77010
28,Nevada,61719,43695,66620,67540,48510,51490,78730,84800
29,New Hampshire,64169,41590,68250,64440,47290,53680,79490,93030
30,New Jersey,81102,56434,79460,77960,60150,62390,97650,103490
31,New Mexico,63580,50628,62500,61140,46910,49750,70530,81150
32,New York,92696,49315,91290,84070,48570,62890,126440,129880
33,North Carolina,56559,40136,51570,48980,38650,46440,59250,62000
34,North Dakota,56792,42393,56510,51290,46530,47890,61510,77570
35,Ohio,66390,40055,70320,73520,45920,51590,80450,100650
36,Oklahoma,55505,38192,54810,49510,39620,46670,62150,78490
37,Oregon,72476,42050,79780,78920,47980,61660,100860,117320
38,Pennsylvania,74945,49083,73810,75940,48930,60260,81520,101220
39,Rhode Island,79289,46066,74640,80790,47540,61290,85770,96750
40,South Carolina,57778,42026,55680,58090,39040,46880,61630,75200
41,South Dakota,53153,42907,49190,48010,38620,46500,52100,59840
42,Tennessee,55369,42164,55920,53000,45360,48420,62430,73100
43,Texas,60716,55505,61210,61600,48280,56600,63470,76970
44,Utah,63481,49555,66290,62370,48000,52140,77710,93420
45,Vermont,66536,43060,62320,61380,46630,49030,75250,79060
46,Virginia,63103,46250,74120,61630,47230,50040,84460,131920
47,Washington,86804,55631,88530,93810,61760,77990,103860,111580
48,West Virginia,52870,40339,50770,48170,37590,43900,57460,62710
49,Wisconsin,62524,41151,62500,61550,46810,49340,74980,79100
50,Wyoming,61979,48622,63730,61780,49940,59400,74530,77640